## Purely checking whether I still remember stuff

In [1]:
import pygame
from pygame import Rect, Surface
from sys import exit
import pandas as pd
from typing import List, Dict, Tuple

pygame 2.5.2 (SDL 2.28.2, Python 3.11.5)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [2]:
print("test")

test

In [3]:
test = pd.read_csv("/home/alex/Documents/GitHub/Kingdom_Rush/game_data/map1-stage1-checkpointer.csv",index_col=0)

test.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
x_axis (left to right),360,410,497,537,496,412,330,239,184,240,338,413,453,513,572,598,636,708,770
y_axis ( top to bottom),410,507,495,440,374,365,383,377,312,263,247,215,114,88,119,196,236,242,244

In [21]:
# CONVERTED DATA HERE

x: List[int] = []
y: List[int] = []

for num in range(1,20):
    row = test[str(num)]
    # print(row)
    x.append(row[0])
    y.append(row[1])

converted_data: Dict[str, List[int]] = {"X-axis (left to right)": x, "Y-axis (right to left)": y}

new_df = pd.DataFrame(data=converted_data)
new_df.head()
new_df.to_csv("Converted_Dataset")

/tmp/ipykernel_51224/2137628913.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x.append(row[0])
/tmp/ipykernel_51224/2137628913.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  y.append(row[1])

In [32]:
# USING NEW DATA TO CALCULATE DIFFERENT STATS
# Like the distance from the other side. e.g: right_to_left instead of left_to_right

new_df["X-axis (right to left)"] = 800 - new_df["X-axis (left to right)"] 
# new_df["Y-axis (top to bottom)"] = new_df["Y-axis (right to left)"]
# new_df = new_df.drop("Y-axis (right to left)", axis=1)
new_df["Y-axis (bottom to top)"] = 690 - new_df["Y-axis (top to bottom)"]
new_df.head()

,X-axis (left to right),X-axis (right to left),Y-axis (top to bottom),Y-axis (bottom to top)
0,360,440,410,280
1,410,390,507,183
2,497,303,495,195
3,537,263,440,250
4,496,304,374,316

In [35]:
# Doing the same here but now also creating columns with percentages

# new_df["X-axis (left to right)%"] = round(number= new_df["X-axis (left to right)"]/800, ndigits= 2)
for column in new_df.columns:
    with_percentage = f"{column} %"
    if "X-axis" in str(column):
        new_df[with_percentage] = round(new_df[str(column)]/800, ndigits=2)
    else:
        new_df[with_percentage] = round(new_df[str(column)]/690, ndigits=2)

new_df.head()

,X-axis (left to right),X-axis (right to left),Y-axis (top to bottom),Y-axis (bottom to top),X-axis (left to right) %,X-axis (right to left) %,Y-axis (top to bottom) %,Y-axis (bottom to top) %
0,360,440,410,280,0.45,0.55,0.59,0.41
1,410,390,507,183,0.51,0.49,0.73,0.27
2,497,303,495,195,0.62,0.38,0.72,0.28
3,537,263,440,250,0.67,0.33,0.64,0.36
4,496,304,374,316,0.62,0.38,0.54,0.46

In [ ]:
# saving transformed and expanded df:
new_df.to_csv("expanded_dataset_map1_phase1.csv")